# Web scraping ve otomasyon
playwright
aiohttp

# Google Sheets entegrasyonu
gspread
gspread-formatting
oauth2client

# Tarih, saat ve zaman dilimi işlemleri
pytz

# Genel yardımcı kütüphaneler
requests
